@import url(//fonts.googleapis.com/css?family=Open+Sans);

#carouselWrapper {  
    float:left; 
    overflow: hidden;  
    width:215px;

}  
  
.carousel-ul {  
    left:-210px; 
    list-style-type: none;  
    margin: 0px;  
    padding: 0px 0px 10px 0px;   
    position:relative;  
    width:9999px;     
}  
  
.carousel-ul li{  
    float: left; 
    height:510px; 
    margin:10px 5px;  
    padding:0px;  
    position: relative;
    width:200px;   
}  
  
.carousel-ul li img {  
    margin-bottom:-4px; 
    border:0px;  
    width: 100%;
} 

#left-scroll, #right-scroll{  
    cursor:pointer;  
    cursor: hand; 
    float:left;  
    height:130px;  
    margin-top: 120px;
    width:15px;   
}  

#left-scroll img, #right-scroll img{  
    cursor: pointer;  
    cursor: hand;  
}  

h2, p {
	color: #313234;
    font-family: 'Open Sans', sans-serif;
}

.priceTag {
	border-radius: 100px 100px;
    background-color: #2c8ee0;
    height: 80px;
    right: 0;
    left: 114px;
    position: absolute;
    top: 0;
    width: 80px;
    
}

.priceTag p {
	color: #F0F0F0;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin: 0 auto;
	text-align: center;
}

.priceTag p:nth-child(1) {
	margin-top: 20px;
}

.arrow-left {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #2c8ee0;
    height: 0;
	width: 0; 
	 
}

.arrow-right {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    border-left: 10px solid #2c8ee0;
	height: 0; 
	width: 0; 
}
